$jagger: #4E0389;

$white: #FFFFFF; 
$wild-sand: #F4F4F4;
$gray: #848182; 
$black: #000000;
$crimson: red;

$font-family-inter: 'Inter', sans-serif;

//Global Formulate Styles
@import './form/variables';
@import './form/inputs';